:root {
    --rule-color: rgb(177, 195, 216);
}

html {
    font-size: 16pt;
    line-height: 1.3;
}

header .banner {
    padding-left: 4em;
    margin-left: -4em;
    width: calc(var(--max-width) + 1em);
    height: 196px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(62,85,136);
    background-position-x: 4em;
    background-position-y: 18px;
    border-bottom-right-radius: 8px;
    color: rgb(235,243,247);
}

.banner h1 {
    padding-top: 18px;
}

.banner .tagline {
    font-style: italic;
}

.note {
    border: 1px solid black;
    border-radius: 0.5em;
    margin-left: 4em;
    margin-right: 4em;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 420px) {
    header .banner {
        background: rgb(62,85,136) url(/img/annheader.png) no-repeat left bottom;
        background-position-x: 4rem;
        background-position-y: 18px;
    }

    .banner h1 {
        padding-left: 178px;
    }

    .banner div {
        padding-left: 178px;
    }
}
