:root {
    --rule-color: rgb(177, 195, 216);
}

header .banner {
    padding-left: 4em;
    margin-left: -4em;
    width: calc(var(--max-width) + 1em);
    height: 196px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(177, 195, 216);
    border-bottom-right-radius: 8px;
}

.banner h1 {
    padding-top: 18px;
    margin-top: 0;
}

.banner .tagline {
    font-style: italic;
}

@media screen and (min-width: 420px) {
    header .banner {
        background: rgb(177, 195, 216) url(/img/scheader.png) no-repeat left bottom;
        background-position-x: 4rem;
        background-position-y: 18px;
    }

    .banner h1 {
        padding-left: 178px;
    }

    .banner div {
        padding-left: 178px;
    }
}
